<div class="container">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <ul class="users-index-list">
        <% @users.each do |user| %>
          <% if user.profile %>
            <li>

              <div class="well row <%= cycle('white-bg', '') %>">

                <div class="col-sm-4 text-center">
                <%= link_to user do %>
                  <%= image_tag user.profile.avatar, class: 'avatar-img' %>
                <% end %>
                </div>

                <div class="col-sm-8">
                  <%= link_to user do %>
                    <h2><%= user.profile.first_name %> <%= user.profile.last_name %></h2>
                  <% end %>
                  <h5><%= user.profile.job_title %></h5>
                  <p><%= user.profile.description %></p>
                </div>

              </div>

            </li>
          <% end %>
        <% end %>
      </ul>
    </div>
  </div>
</div>